<div class="container">
	<img src="<%=asset_path('abode_logo_white.png')%>">
	<p id="tagline">Manage household expenses like adults. It's domestic partnership for the 21st century.</p>
	<%= link_to "Create Account", signup_path, id: "signup" %>
	<p id="home-sign-in">Or <%= link_to "Sign In", signin_path, id: "home-sign-in-link" %></p>
</div>
