<div id="user_expense_<%=user_expense.id%>" class="user_expense" >
	<span class="user-expense-name"><%= user_expense.expense.name %></span> <span class="user-expense-portion" ><%= user_expense.portion %></span> <span class="user-expense-paid" ><%= user_expense.paid %></span>
</div>
