// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #03A89E;
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
  color: white;
}

.gravatar {
	border-radius: 50px;
}

nav {
	z-index: 100;
	position: fixed;
	width: 100%;
	background-color: #03A89E;
	top: 0;
	left: 0;
}


nav ul li {
	display: inline-block;
	float: left;
	padding-left: 2%;
}

nav ul li a {
	text-decoration: none;
	font-weight: bold;
	color: white;
}

nav ul li a:hover {
	color: #808A87;
}

.container {
  max-width: 800px;
  margin: auto;
}

#home_img {
  display: block;
  margin: auto;
  margin-bottom: -15%;
  margin-top: -10%;
  width: 100%;
}

#tagline {
	color: white;
	font-size: 1.2em;
	text-align: center;
	font-weight: lighter;
	margin-top: -6%;
	margin-bottom: 10%;
}

#signup {
	box-sizing: border-box;
	display: block;
	background-color: white;
	color: #03A89E;
	border-radius: 5px;
	text-decoration: none;
	font-weight: lighter;
	font-size: 3em;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-top: 12%;
}

#signup:hover {
	color: white;
	background-color: #808A87;
}

#home-sign-in {
	text-align: center;
	font-size: 1.5em;
	color: white;
	font-weight: lighter;
}

#home-sign-in-link {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#home-sign-in-link:hover {
	color: #808A87;
}

/*************************/
/* Signup Form */
/*************************/

form#new_user, form#new_dwelling {
	display: block;
	margin: auto;
}

#user_name, #user_email, #user_phone, #user_password, #user_password_confirmation, input[type="submit"], #session_email, #session_password, #dwelling_name, #dwelling_address, #expense_name, #expense_description, #expense_amount, #invitation_email, #emergency_contact_name, #emergency_contact_email, #emergency_contact_phone, #emergency_contact_relationship, #dwelling_secret_key {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2%;
	width: 320px;
	max-width: 90%;
	border: none;
	padding: 1% 3% 1% 3%;
	font-size: 1.2em;
}

input[type="submit"] {
	color: #03A89E;
	font-weight: bold;
	background-color: white;
}

input[type="submit"]:hover {
	background-color: #808A87;
	color: white;
}

/*************************/
/* Sign In Form */
/*************************/

#sign-in {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 3em;
}

/*************************/
/* User Profile */
/*************************/


ul li a, .profile_links {
	color: #F88A50;
	font-weight: lighter;
	text-decoration: none;
	padding-bottom: 10px;
	font-weight: bold;
}

ul li a:hover, .profile_links:hover {
	color: #03A89E;
}

#user_expenses {
	text-align: center;
	margin-bottom: 5%;
}

#user_expenses h4 {
	font-size: 1.5em;
	font-weight: bold;
	background-color: white;
	color: #03A89E;
	padding: 1% 3%;
	border-radius: 5px;
}

#user_expenses p {
	font-size: 1.5em;

}

.expense {
	box-sizing: border-box;
	width: 100%;
	background-color: #F0FFFF;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 5%;
}
.expense h3 {
	font-size: 2em;
	text-align: center;
	color: #03A89E;

}

.expense h3 a {
	text-decoration: none;
	color: #03A89E;
}

.expense h3 a:hover {
	color: #808A87;
}

.expense p, .owers p, .expense-comments ul p {
	font-size: 1.5em;
	color: #03A89E;
}

.expense-details {
	width: 100%;
	text-align: center;
}


.owers {
	text-align: center;
}

.whos-paying {
	font-size: 2em;
	font-weight: bold;
}

.description {
	text-align: center;
}

textarea {
	max-width: 100%;
	display: block;
	margin: 2% auto;
	border: none;
	-webkit-box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.75);
}

.expense .expense-comment-submit {
	color: white;
	background-color: #03A89E;
}

.expense-comments p:nth-child(even) {
	display: block;
	box-sizing: border-box;
	background-color: #03A89E;
	padding: 1%;
	border-radius: 5px;
	color: white;
}

.expense-comments p:nth-child(odd) {
	display: block;
	box-sizing: border-box;
	background-color: #F88A50;
	padding: 1%;
	border-radius: 5px;
	color: white;

}

#profile-dwelling-info, #profile-personal-info, #profile-contacts-info {
	box-sizing: border-box;
	padding: 1em;
	background-color: white;
	color: #03A89E;
	border-radius: 1em;
	margin-bottom: 1em;
}

#profile-contacts-info ul.contacts-list {
	list-style: none;
	padding-left: 0;
}

li.emergency-contact-detail {
	margin-bottom: 1em;
	border-top: 1px solid #03A89E;
	padding-top: 0.5em;
}

li.emergency-contact-detail:last-child {
	border-bottom: 1px solid #03A89E;
	padding-bottom: 0.5em;
}

.delete a {
	color: white;
	width: 320px;
	text-align: right;
	background-color: #03A89E;
	padding: 1% 3%;
	text-decoration: none;
	border-radius: 5px;
}

.delete a:hover {
	background-color: #808A87;
}

/*************************/
/* User Profile ----- Roommates */
/*************************/

div.profile-roommates {

}

div.profile-roommate-detail {
	box-sizing: border-box;
	display: inline-block;
	overflow: hidden;
	font-weight: bold;
}

div.name {
	width: 30%;
	font-weight: bold;
}

div.email {
	width: 45%;
}

div.phone {
	width: 25%;
}

div.profile-roommates {
	padding-bottom: 1em;
	margin-bottom: 1em;
}

#roommate-info-title {
	padding-bottom: 1em;
}

div.roommate-wrapper {
	box-sizing: border-box;
	display: block;
	width: 100%;
	background-color: #03A89E;
	color: white;
	border-radius: 5px;
	padding: 1%;
}

.roommate-contact-wrapper {
	display: block;
	width: 100%;
	font-size: 1em;
}

#emergency-contact-title {
	padding: 0.5em 0;
	margin: 0.2em 0;
	text-align: center;
}

.roommate-contact-detail {
	box-sizing: border-box;
	display: inline-block;
	/*border: 1px solid black;*/
}

#expenses-wrapper {
	margin-bottom: 20%;
}

.comment-header {
	text-align: center;
	color: #03A89E;
	font-size: 2em;
	background-color: white;
	padding: 1% 3%;
	border-radius: 5px;
}
.comments:nth-child(even) {
	padding: 1% 3%;
	background-color: white;
	color: #03A89E;
	border-radius: 5px;
	margin-bottom: 2%;
}
.comments:nth-child(odd) {
	padding: 1% 3%;
	background-color: #F88A50;
	color: white;
	margin-bottom: 2%;
	border-radius: 5px;
}

#comment_description {
	display: block;
	margin: 2% auto;
	border: none;
}

footer {
	bottom: 0;
	position: fixed;
	background-color: #03A89E;
	width: 100%;
}

footer p {
	color: white;
	font-weight: lighter;
	font-size: 1em;
	text-align: center;
}

/*************************/
/* Expense Show */
/*************************/

.expense h2 {
	color: #03A89E;
	text-align: center;
	font-size: 2.5em;
}
.expense-edit {
	font-size: 1.2em;
	font-weight: lighter;
	text-align: center;
}

.expense-edit a {
	text-decoration: none;
	color: #F88A50;
}

.expense-edit a:hover {
	color: #03A89E;
}

.gravatar {
	text-align: center;
}



/*************************/
/* Expense Edit */
/*************************/

#update-portions {
	display: block;
	width: 100%;
	margin: auto;
}

#update-portions p {
	text-align: center;
}

#update-portions h3 {
	text-align: center;
	font-weight: lighter;
	font-size: 2em;
}

#edit-description {
	text-align: center;
	background-color: white;
	color: #03A89E;
	padding: 3%;
	border-radius: 5px;


}
.user_expense_portion {
	display: block;
	margin: 0 auto;
	width: 30%;
}

#sum-of-portions {
	box-sizing: border-box;
	padding: 1%;
	font-weight: bold;
	width: 320px;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: center;
	background-color: white;
	color: #03A89E;
}


/*#new-expense-form-container{
	display: block;
	margin: auto;
	max-width: 90%;
}*/



/*************************/
/* Responsive */
/*************************/

@media (max-width:800px) {
	div.roommate-contact-wrapper {
		width: 100%;
		margin-left: 0;
	}

}

@media (max-width:620px) {
	div.roommate-contact-detail {
		width: 100%;
	}

	div.roommate-contact-wrapper {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		text-align: center;
	}

	div .profile-roommate-detail {
		width: 100%;
		text-align: center;
	}
}

.black_hover:hover {
	color: black;
}

